body{
    background: url(images/nav-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
footer{
    background: url(images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer h3{
    text-align: left;
}
@media screen and (max-width: 768px) {
    footer h3{
      text-align: center;
    }
    .middle{
        text-align: center;
    }
    .small img{
        width:0 ;
    }   
}
@media screen and (max-width:992px) {
    .info{
        text-align: center;
    }
}